body {
    margin: 0;
}

* { 
    font-family: 'Raleway', sans-serif;
}

/*main*/

.main {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 720px;
    align-items: center;
}

.main h1 {
    font-family: 'Raleway', sans-serif;
    color: rgba(255,255,255,0.9);
    text-align: center;
    font-size: 26pt;
    font-weight: lighter;
    padding: 15px;
}

.main h1 strong {
    color: white;
}

.main button {
    font-family: 'Raleway', sans-serif;
    font-size: 14pt;
    padding: 15px;
    color: white;
    background: rgba(0,0,0,0.1);
    border: 2px solid white;
}

.main button:hover {
    background: rgba(0,0,0,0.4);
    cursor: pointer;
}

.main button {
    transition: background 0.8s;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.smart-scroll{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.scrolled-down{
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
    transform:translateY(0); transition: all 0.3s ease-in-out;
}

@media (max-width: 720px) {
    .main h1 {
        font-size: 18pt;
        margin: 20px;
        padding: 0px;
    }

    .main button {
        font-size: 12pt;
    }
}

/*Section*/

section, article {
    margin: 0px 180px;
    min-height: 720px;
}

section h2 {
    color: #6c8199;
    font-weight: 900;
}

.about {
    text-align: center;
    animation-name: arriveLeft;
    animation-duration: 1s;
}

.about img {
    width: 350px;
    margin-bottom: 20px;
}

.about p {
    margin-bottom: 0px;
}

.skills {
    animation-name: arriveRight;
    animation-duration: 1s;
    margin-left: 60px;
}

.tools {
    animation-name: arriveRight;
    animation-duration: 1s;
}

.tools div {
    background-color: #f1f0f0;
    list-style-type: none;
    margin: 8px 0px 8px 60px;
}

.tools h3 {
    color: #3fc1c9;
    font-size: 16pt;
    margin-left: 60px;
    font-weight: bold;
}

.tool-name {
    background-color: #3fc1c9;
    font-size: 11pt;
    font-weight: bold;
    color: white;
    min-width: 100px;
    padding: 4px 0px;
    display: flex;
    justify-content: center;
}

.fill {
    background-color: #6c8199;
    animation-name: fillLevel;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes arriveLeft {
    from {position: relative; right: 100px; opacity: 0;}
    to {position: relative; right: 0px; opacity: 1;}
}

@keyframes arriveRight {
    from {position: relative; left: 500px; opacity: 0;}
    to {position: relative; left: 0px; opacity: 1;}
}

@keyframes fillLevel {
    0% {width: 0;}
    0.1% {opacity: 100%;}
    100% {opacity: 100%;};
}

/*Article*/

article li {
    list-style-type: none;
}

article ul {
    padding-left: 0px;
}

article h2, article h3 {
    color: #6c8199;
    font-weight: 900;
    text-decoration: underline; 
}

article h4 {
    color: #3fc1c9;
    font-size: 16pt;
    font-weight: bold;
}

article h5, article .h5 {
    font-style: italic;
    color: rgb(141, 141, 141);
    font-size: 11pt;
}

article h6 {
    color: rgb(94, 94, 94);
    font-size: 11pt;
}

.education-experience {
    animation-name: arriveLeft;
    animation-duration: 1s;
}

.courses-languages {
    animation-name: arriveRight;
    animation-duration: 1s;
}

@media (max-width: 991px) {
    section, article {
        margin: 20px;
    }

    .about img {
        width: 250px;
    }
    .skills, .tools div, .tools h3 {
        margin-left: 0px;
    }

    .skills {
        margin-top: 20px;
    }
}